/* 

.marquee-wrapper {
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .marquee-content {
    display: inline-flex;
    animation: marquee 20s linear infinite;
  }
  
  .marquee-image {
    width: 80px; 
    margin-right: px; 
  }
  
  @keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }
   */